body {
	margin: 3%;
	background: #e0e0e0;
}
.myinput input[placeholder]{
	text-align: center;
}
.table-text td{
	font-size: .9em;
}
.tbl-no-padding td, th {
	padding: 0;
}
.my-padding td, th{
	padding: 1%;
}
.img-margin{
	padding: 2%;
	width: 100%;
}
.mycontainer-background {
	background: #fff;
}
.mycontainer-width {
	width: 75%;
}
.myheader-border-bottom {
	border-bottom: 1px solid #d0d0d0;
}
.my-borders{
	border: 3px solid #b0b0b0;
}
.sidebar-border-left{
	border-left: 1px solid #d0d0d0; 
	font-size: 15px;
}
.sidebar-border-right{
	border-right: 1px solid #d0d0d0; 
	font-size: 15px;
}
.footer-border {
	border-top: 1px solid #d0d0d0;
	margin-top: 1%;
}
.merger {
	display: block;
}
.admin-list{
	display: block;
}
.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

